* {
	font-family: Arial, Verdana, sans-serif;
	color: #665544;
	text-align: center;}
	
body {
	width: 93%;
	margin: 0 auto;}
	
#header {
	width: 300;
	height: 100;
}
	
#content {
	overflow: auto;}
	
#nav, #feature, #footer {
	margin: 1%;}
	
.column1, .column2, .column3 {
	width: 357px;
	float: left;
	margin: 1%;}
	
.column3 {
	margin-right: 0%;}
	
li {
	display: inline;
	padding: 0.5em;}

#feature {
	width: 1115px;
}

#nav, #footer {
	width: 1115px;
	background-color: #efefef;
	padding: 0.5em 0;}
	
#feature, .article {
	height: 10em;

	margin-bottom: 1em;
	background-color: #efefef;}


.article {
	
	border:1px solid #021a40;
}

#nav {
	height: 32px;
}

/*Image Gallery*/
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 300px;
  height: 200px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/*Table*/

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

/* Additional styles for the forms */
label {
	float: left;
	width: 70px;}
br {
	clear: left;}	
form {
	padding: 20px 0 20px 0;
	width: 650px;
	margin: 0 auto;}
legend {
	font-weight: bold;}